
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  right: 100%;
  
}

html,
body,
#root {
  background-color: #fdfdfd;
  height: 100%;
}

footer{
  margin-top: 300px;
}